	<script>
	      window.fbAsyncInit = function() {
	        FB.init({
	          appId      : '95100348886',
	          xfbml      : true,
	          version    : 'v2.6'
	        });
	      };

	      (function(d, s, id){
	        var js, fjs = d.getElementsByTagName(s)[0];
	        if (d.getElementById(id)) {return;}
	        js = d.createElement(s); js.id = id;
	        js.src = "//connect.facebook.net/en_US/sdk.js";
	        fjs.parentNode.insertBefore(js, fjs);
	      }(document, 'script', 'facebook-jssdk'));
	    </script>
		  
		<div>
          <h1>Hi there!</h1>
          <p>Thanks you for looking into getting inspired. In fact,
            <span class = "blue"><blockquote><p>{{q.quote}}<br/><i>{{q.author}}</i><br/><h5>Referred by: {{q.by}}</h5></p></blockquote></span> <br/>
		  </p>
			
           The bot is currently being trained but you can <a href="https://m.me/1609388406044829">Message us on Facebook</a> the expression"inspire me" or just type it in the box below. 
		</div>
		<br/>
		<div class="fb-page" 
			         data-href="https://www.facebook.com/1609388406044829/" 
			         data-tabs="messages" 
			         data-width="400" 
			         data-height="300" 
			         data-small-header="true">
			      <div class="fb-xfbml-parse-ignore">
			        <blockquote></blockquote>
			      </div>			  
		</div>
		